<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.wenjing.dao.ActivateMapper" >
  <resultMap id="BaseResultMap" type="com.wenjing.entity.Activate" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="memberid" property="memberid" jdbcType="VARCHAR" />
    <result column="authcode" property="authcode" jdbcType="VARCHAR" />
    <result column="failuretime" property="failuretime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memberid, authcode, failuretime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" flushCache="true">
    select 
    <include refid="Base_Column_List" />
    from activate
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" flushCache="true">
    delete from activate
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wenjing.entity.Activate" flushCache="true">
    insert into activate (id, memberid, authcode, failuretime
      )
    values (#{id,jdbcType=VARCHAR}, #{memberid,jdbcType=VARCHAR}, #{authcode,jdbcType=VARCHAR}, #{failuretime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wenjing.entity.Activate" flushCache="true">
    insert into activate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id, memberid, authcode, failuretime,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     #{id,jdbcType=VARCHAR}, #{memberid,jdbcType=VARCHAR}, #{authcode,jdbcType=VARCHAR}, #{failuretime,jdbcType=INTEGER},
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wenjing.entity.Activate" flushCache="true">
    update cost
    set memberid = #{memberid,jdbcType=VARCHAR},authcode = #{authcode,jdbcType=VARCHAR}, failuretime = #{failuretime,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 根据memberid查询 -->
  <select id="findByAuthcode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from activate
    where authcode = #{authcode,jdbcType=VARCHAR}
  </select>
  <!-- 删除失效激活码 -->
  <delete id="deleteFailureAuthcode" parameterType="java.lang.Integer" flushCache="true">
    delete from activate
    where failuretime <![CDATA[<]]>  #{nowTime}
  </delete>
  
  <delete id="deleteActivateByMemberId" parameterType="java.lang.String" flushCache="true">
    delete from activate
    where memberid = #{memberid,jdbcType=VARCHAR}
  </delete>
</mapper>