<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.wenjing.dao.ActivityrulesMapper" >
  <resultMap id="BaseResultMap" type="com.wenjing.entity.Activityrules" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="couponseId" property="couponseid" jdbcType="VARCHAR" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, couponseId, addTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from activityrules
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from activityrules
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wenjing.entity.Activityrules" >
    insert into activityrules (id, content, couponseId, addTime
      )
    values (#{id,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{couponseid,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wenjing.entity.Activityrules" >
    insert into activityrules
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      content,
      couponseId,
      addTime,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR},
      #{couponseid,jdbcType=VARCHAR},
      #{addTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wenjing.entity.Activityrules" >
    update activityrules
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="couponseid != null" >
        couponseId = #{couponseid,jdbcType=VARCHAR},
      </if>
      <if test="couponseid != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wenjing.entity.Activityrules" >
    update activityrules
    set content = #{content,jdbcType=VARCHAR},
      couponseId = #{couponseid,jdbcType=VARCHAR},
      addTime = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByCouponseId" resultMap="BaseResultMap" parameterType="java.lang.String">
      select * from activityrules where couponseId =  #{couponseid,jdbcType=VARCHAR} order by addTime
  </select>
</mapper>