<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>bbtshop</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/applicationContext.xml,</param-value>
  </context-param>
  <filter>
    <filter-name>FrontFilter</filter-name>
    <filter-class>com.wenjing.filter.FrontFilter</filter-class>
    <init-param>
      <param-name>UrlRegxa</param-name>
      <param-value>^/visa\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxb</param-name>
      <param-value>^/about-us\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxc</param-name>
      <param-value>^/contact-us\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxd</param-name>
      <param-value>^/praise\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxe</param-name>
      <param-value>^/team\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxf</param-name>
      <param-value>^/join-us\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxg</param-name>
      <param-value>^/china-depart-tour\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxh</param-name>
      <param-value>^/([a-z,-]+)\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxi</param-name>
      <param-value>^/([a-z,-]+\d{2,8})\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxj</param-name>
      <param-value>^/([a-z,-]+)/([a-z,-]+)\.htm$</param-value>
    </init-param>
    <init-param>
      <param-name>UrlRegxk</param-name>
      <param-value>^/([a-z,-]+)/([a-z,-]+)(\d{2,8})\.htm$</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FrontFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>IndexFilter</filter-name>
    <filter-class>com.wenjing.filter.IndexFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IndexFilter</filter-name>
    <url-pattern>/index.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>DisableUrlSessionFilter</filter-name>
    <filter-class>  
   com.wenjing.filter.DisableUrlSessionFilter  
  </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DisableUrlSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>MyecondingFilter</display-name>
    <filter-name>MyecondingFilter</filter-name>
    <filter-class>com.wenjing.filter.MyecondingFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyecondingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/common/resource_not_found.do</location>
  </error-page>
</web-app>